body {
    overflow-y: hidden;
    overflow-x: hidden;
}


a { 
    text-decoration: none;
    background: none;
    padding: 12px;
    border-radius: 3px;
    color: #87CEFA;
}

.h1 {
    text-align: center;   
    text-decoration: underline;
    font-style: italic;
    font-size: 3rem;
    color: skyblue;
    top: 100px;
    font-family: 'Poppins', sans-serif;

}



.h2 {
    text-align: center;
    font-style: italic;
    color: skyblue;   
    top: 200px;
    font-family: 'Poppins', sans-serif;

}

p {
    font-family: 'Poppins', sans-serif;

}

.etoileh1 {
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.circle1 {
    height: 75px;
    width: 75px;
    top: 150px;
    left: 80px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px rgb(0, 0, 238); 
    box-shadow: 0px 0px 0px 0px #0000EE;
    z-index: 1;
    filter: brightness(4);
    animation: pulse1 1.1s infinite;
}

.circle2 {
    height: 75px;
    width: 75px;
    top: 125px;
    left: 190px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px rgb(238, 0, 0); 
    box-shadow: 1px 1px 28px 5px #ee0000;
    z-index: 1;
    filter: brightness(4);
    animation: pulse2 1.3s infinite;


}

.circle3 {
    height: 75px;
    width: 75px;
    top: 100px;
    left: 300px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px #00ff00; 
    box-shadow: 1px 1px 28px 5px #00ff00;
    z-index: 1;
    filter: brightness(4);
    animation: pulse3 1.5s infinite;


}

.circle4 {
    height: 75px;
    width: 75px;
    top: 100px;
    left: 400px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px #f0f8ff; 
    box-shadow: 1px 1px 28px 5px #f0f8ff;
    z-index: 1;
    filter: brightness(4);
    animation: pulse4 1.7s infinite;


}

.circle5 {
    height: 75px;
    width: 75px;
    top: 100px;
    left: 500px;
    position:   relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px #008000; 
    box-shadow: 1px 1px 28px 5px #008000;
    z-index: 1;
    filter: brightness(4);
    animation: pulse5 1.9s infinite;


}

.circle6 {
    height: 75px;
    width: 75px;
    top: 125px;
    left: 600px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px #E87BAC; 
    box-shadow: 1px 1px 28px 5px #E87BAC;
    z-index: 1;
    filter: brightness(4);
    animation: pulse6 2.1s infinite;

    

}

.circle7 {
    height: 75px;
    width: 75px;
    top: 150px;
    left: 700px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px rgb(255, 69, 0); 
    box-shadow: 1px 1px 28px 5px #FF4500;
    z-index: 1;
    filter: brightness(4);
    animation: pulse7 2.3s infinite;
}

.etoile {
    height: 75px;
    width: 75px;
    top: 350px;
    left: -10px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px #f0f8ff; 
    box-shadow: 1px 1px 28px 5px #f0f8ff;
    z-index: 1;
    filter: brightness(4);
    animation: pulse4 1.7s infinite;
}

.credit {
    height: 75px;
    width: 75px;
    top: 350px;
    left: -10px;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 28px 5px #f0f8ff; 
    box-shadow: 1px 1px 28px 5px #f0f8ff;
    z-index: 1;
    filter: brightness(4);
    animation: pulse4 1.7s infinite;
}

@keyframes pulse1 {
    to {
        box-shadow: 0 0 0 18px rgba(238, 0, 0, 0.01);
    }
    
}

@keyframes pulse2 {
    to {
        box-shadow: 0 0 0 18px rgba(238, 0, 0, 0.01);

    }
}

@keyframes pulse3 {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 255, 0.01);

    }
}

@keyframes pulse4 {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 255, 0.01);

    }
}

@keyframes pulse5 {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 255, 0.01);

    }
}

@keyframes pulse6 {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 255, 0.01);

    }
}

@keyframes pulse7 {
    to {
        box-shadow: 0 0 0 18px rgba(265, 69, 0, 0.01);

    }
}